body{
  background-color: #0d1b1e;
}

.App {
  text-align: center;
  background-color: #7798ab;
  min-height: 90vh;
  width: 30vw;
  margin: 40px auto;
  color: white;
  border-radius: 10px;
}

.todo-form input{
  background-color: #c3dbc5;
  color: black;
  border: none;
  margin: 10px;
  min-height: 40px;
  padding: 10px;
  font-size: 22px;
  border-radius: 10px;
}

.todo-form input::placeholder{
  color: black;
}

.todo-form input:focus{
  outline: none;
}

.todo-form button{
  height: 50px;
  border-radius: 10px;
  background-color: #f2cee6;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bolder;
}